
.DS_Store
a.out
Breakpoints_v2.xcbkptlist
*.gch
*.output

Editeur-de-Liens.xcodeproj/
Editeur-de-lien.xcodeproj/

# for automake
aclocal.m4
config.h
config.h.in
config.log
config.status
configure 
configure~
configure.ac
Makefile
Makefile.in 
stamp-h1

.deps/
build-aux/
build-aux/compile
confdefs.h

*.o
*.Po

Options_and_debug_example
read_elf_header 
read_elf_section_table
read_elf_table_symbol
read_elf_section_content